@(title: String)

<!DOCTYPE html>

<html lang="jp">
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>AICA</title>

        <!-- FONT  -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
        <!-- CSS  -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/materialize.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/agryeel.css")">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

      </head>
      <body>
      <!-- ナビゲーションバー -->
      <div class="navbar-fixed">
        <nav class="red darken-4" role="navigation">
          <div class="nav-wrapper">
            <img id="G0009AccountPicture" class="account" src="@routes.Assets.at("image/account.jpg")">
            <span class="right">&nbsp;&nbsp;</span>
            <a href="#" class="right input-target-done"><i class="mdi-action-done"></i></a>
            <a href="#" class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="./menuMove" class="right"><i class="mdi-navigation-arrow-back"></i></a>
          </div>
        </nav>
      </div>
      <!-- メインセクション -->
      <!-- 入力圃場選択 -->
      <div id="mainWorkTargetHouse" class="col s12 work-target-house">
        <div id="G0009targetCompartmentList" class="row">
        </div>
      </div>
      <!-- フッター -->
      <footer class="page-footer red darken-4">
        <div class="footer-copyright">
          <div class="container center">
            &copy;Sun For You.Ltd
          </div>
        </div>
      </footer>
      </body>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/materialize.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/chart.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/agryeel.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/init.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/inputtarget.js")" type="text/javascript"></script>

</html>
