@(title: String)

<!DOCTYPE html>

<html lang="jp">
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>AICA</title>

        <!-- FONT  -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
        <!-- CSS  -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/materialize.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/agryeel.css")">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

      </head>
      <body>
      <!-- 共通画面 -->
      <!-- セレクトモーダル -->
      <div id="selectmodal" class="modal modal-fixed-footer">
      </div>
      <!-- マルチセレクトモーダル -->
      <div id="mselectmodal" class="modal modal-fixed-footer">
      </div>
      <!-- 選択用モーダル画面 -->
      <div id="G0005SelectModal"></div>
      <!-- 数値入力用電卓モーダル画面 -->
      <div id="calcModal" class="calc-modal">
            <div class="calc-value">
              <span id="calc-text">4</span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc7">
              <span>７</span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc8">
              <span>８</span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc9">
              <span>９</span>
            </div>
            <div class="calc-button special center waves-effect waves-light" id="calcClear">
              <span><i class="material-icons white-text">clear</i></span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc4">
              <span>４</span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc5">
              <span>５</span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc6">
              <span>６</span>
            </div>
            <div class="calc-button special center waves-effect waves-light" id="calcBS">
              <span><i class="material-icons white-text">backspace</i></span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc1">
              <span>１</span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc2">
              <span>２</span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc3">
              <span>３</span>
            </div>
            <div class="calc-button special center modal-action modal-close waves-effect waves-light">
              <span><i class="material-icons white-text">arrow_back</i></span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc0">
              <span>０</span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calc00">
              <span>00</span>
            </div>
            <div class="calc-button center waves-effect waves-light" id="calcP">
              <span>．</span>
            </div>
            <div class="calc-button special center waves-effect waves-light" id="calcCommit">
              <span><i class="material-icons white-text">done</i></span>
            </div>
          </div>
        </div>
      </div>
      <!-- ナビゲーションバー -->
      <div class="navbar-fixed">
        <nav class="nav-item" role="navigation">
          <div class="nav-wrapper">
            <img class="nav-image-logo"  src="@routes.Assets.at("image/navilogo.png")">
          </div>
        </nav>
      </div>
      <div class="row">
	    <div id="mainmenu" class="container">
	    </div>
	  </div>
      <!-- メインセクション -->
      <!-- 作業項目 -->
      <div class="col s12 m8 offset-m2 l6 offset-l3" id="mainsection">
        <div id="G0005WorkDiary" class="col s12 m8 offset-m2 l6 offset-l3">
        </div>
      </div>
      <!-- アクションボタン -->
      <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
        <a class="btn-floating btn-large red">
          <i class="material-icons large">mode_edit</i>
        </a>
        <ul>
          <li>
          	<span class="btn-description">戻る</span>
            <a class="waves-effect waves-light btn-floating blue" id="G0005BackButton"><i class="large material-icons">arrow_back</i></a>
          </li>
          <li>
            <span class="btn-description">切替</span>
            <a href="#selectmodal" class="waves-effect waves-light btn-floating indigo selectmodal-trigger" id="G0005ReorderButton" title="作業切替"" data="/0/getWorkOfKukaku" displayspan="#G0005WorkReorder" htext="#G0005WorkReorderValue"><i class="large material-icons">reorder</i></a>
            <input type="hidden" id="G0005WorkReorderValue" value="0"/>
          </li>
          <li><span class="btn-description">削除</span><a class="waves-effect waves-light btn-floating red" id="G0005DeleteButton"><i class="large material-icons">delete_forever</i></a></li>
          <li><span class="btn-description">開始</span><a class="waves-effect waves-light btn-floating orange" id="G0005StartButton"><i class="large material-icons">alarm_on</i></a></li>
          <li><span class="btn-description">指示</span><a class="waves-effect waves-light btn-floating purple" id="G0005PlanButton"><i class="large material-icons">event</i></a></li>
          <li><span class="btn-description">記録</span><a class="waves-effect waves-light btn-floating teal" id="G0005SubmitButton"><i class="large material-icons">done</i></a></li>
        </ul>
      </div>
      <!-- フッター -->
      <footer class="page-footer fixed-color">
        <div class="footer-copyright">
          <div class="container center">
            &copy;Sun For You.Ltd
          </div>
        </div>
      </footer>
      </body>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/materialize.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.todate.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/chart.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/mmanager.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/agryeel.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/agryeelmodal.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/calc.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/init.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/workdiary.js")" type="text/javascript"></script>

</html>
